@model Betting.ViewModels.ContextCategoryDetails

<div>
    <h4>Context Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndedOn)
        </dd>

    </dl>
</div>
<div>
    
</div>
