@model Betting.ViewModels.ContextCategoryDetails

<div>
    <h4>Context Category Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TournamentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TournamentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndedOn)
        </dd>

    </dl>
</div>

<script id="context-item-tpl" type="text/x-handlebars-template">
    <tr class="ccat" data-id="{{id}}">
        <td>
            <div class="col-md-10">
                <input disabled="disabled" class="form-control text-box single-line contextlabel" type="text" value="{{label}}">
            </div>
        </td>
        <td>
            <button class="btn btn-default editbtn">Edit</button>
            <button class="btn btn-default savebtn saveContext" style="display: none;">Save</button>
            <a class="btn btn-default" href="/Trading/ViewContext/{{id}}">View</a>
            <button class="btn btn-default">Delete</button>
        </td>
    </tr>
</script>
<script id="contexts-tpl" type="text/x-handlebars-template">
    <table class="table">
        <tr>
            <th>Label / Name</th>
            <th></th>
        </tr>
        <tbody class="contexttable">
            {{#each contexts}}
            {{{renderContextItem this}}}
            {{/each}}
        </tbody>
        <tbody>
            <tr>
                <td>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="newLabel" name="label" type="text" value="">
                    </div>
                </td>
                <td>
                    <input type="submit" value="Add" onclick="window.cms.categoryview.addNewContext()" class="btn btn-default">
                </td>
            </tr>
        </tbody>
    </table>
</script>

<ul class="contexts hide">
    @foreach (var item in Model.Contexts)
    {
        <li data-id="@item.Id" data-catid="@item.CatId" data-label="@item.Label" , data-created="@item.CreatedOn"></li>
    }
</ul>

<div class="contextlist"></div>

<script src="~/Scripts/cms.categoryView.js?@DateTime.Now.Ticks"></script>

<script type="text/javascript">
    $(document).ready(function() {
        window.cms.categoryview.renderContexts();
        window.cms.categoryview.catid = '@Model.Id';

        $(".editbtn").click(function () {
            var tr = $(this).parents(".ccat");
            tr.find("[disabled='disabled']").removeAttr("disabled");
            tr.find(".savebtn").show();

            $(this).hide();
        });

        $(".saveContext").click(function () {
            var tr = $(this).parents(".ccat");

            var id = tr.attr("data-id");
            var label = tr.find(".contextlabel").val();

            var $ele = $(this);
            window.cms.categoryview.updateContext({
                    id: id,
                    label: label
                },
                function () {
                    tr.find("input").attr("disabled", "disabled");
                    tr.find(".selectionDir").attr("disabled", "disabled");
                    tr.find(".editbtn").show();
                    $ele.hide();
                });

        });
    });
</script>
