@model Betting.Web.ViewModels.PopularPanelsModel
    
@foreach (var panel in Model.Panels)
{
    var index = 0;
    
    <div>
        <h1 data-collapseid="@index" class='bar'>@panel.Name</h1>
        <div class="panel" data-collapseid="@index">
            
            @foreach (var context in panel.Contexts)
            {
                <h2>@context.Label</h2>
                <div>
                    @foreach (var selection in context.Selections)
                    {
                        <div>@selection.Label <span><button>£1</button></span></div>
                    }
                </div>
            }


        </div>
    </div>
}

